@use "@angular/material" as mat;

#navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.navbar-button {
  margin: 0 50px;
}
