#home-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 1000px;
  height: auto;
  background-color: rgb(233, 233, 227);
}

#task-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  font-size: 16px;
  text-align: center;
}

#task-title {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 200px;
  height: auto;
}

#task-description {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 600px;
  height: auto;
}

#task-status {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 200px;
  height: auto;
  text-align: center;
}

.task-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}

::ng-deep mat-paginator{
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}
