mat-paginator.mat-paginator-home{
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 90px);
  background-color: rgb(233, 233, 227);
}

#task-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  font-size: 16px;
  text-align: center;
}

#task-container-without-result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  width: 100%;
  min-height: calc(100vh - 90px);
}

#task-no-result-title{
  font-size: 32px;
  font-weight: bold;
}

#button-icon-container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#status-button, #remove-button{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#remove-button{
  margin-left: 10px;
}

.task{
  padding: 20px 0;
}

.task-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}

.task-container-item{
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

.status-button-icon{
  padding-left: 10px;
}
