<div id="home-container" class="component-container">
  <div
    id="task-container-without-result"
    class="blue"
    *ngIf="paginationResult.results.length == 0"
  >
    <div id="task-no-result-title">Ready to get started?</div>
    <div class="padding-10">Add your first task!</div>
  </div>
  <div id="task-container" *ngIf="paginationResult.results.length != 0">
    <div class="task-container-item" *ngFor="let task of paginationResult.results">
      <div class="task">
        <div class="task-item">Title: {{ task.title }}</div>
        <div class="task-item">Description: {{ task.description }}</div>
        <div class="task-item">Status: {{ task.status }}</div>
      </div>
      <div id="button-icon-container">
        <button id="status-button" class="blue" (click)="changeStatus(task)">
          <div>Change status</div><mat-icon class="status-button-icon">edit</mat-icon>
        </button>
        <button id="remove-button" class="color-red" (click)="removeTask(task.id)">
          <mat-icon class="status-button-icon">delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-paginator
    class="mat-paginator mat-paginator-home"
    *ngIf="paginationResult.results.length != 0"
    [length]="paginationResult.totalCount"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="changePage($event)"
  >
  </mat-paginator>
</div>
