app-navbar {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 70px;
  min-height: 70px;
  z-index: 100;
  border: 2px solid white;
}

#app-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  app-navbar {
    height: 90px;
    min-height: 90px;
  }
}
@media screen and (min-width: 1200px) {
  app-navbar {
    height: 90px;
    min-height: 90px;
  }
}